{% extends 'base.html.twig' %}

{% block title %}Hello LivreController!{% endblock %}

{% block body %}
    {% for livre in livres %}
        <h2> {{livre.titre}} </h2>
        <a href="{{ path('app.livre.update', {id: livre.id }) }}" class="btn btn-warning">Modifier</a>
        {% include 'livre/_deleteform.html.twig' %}
    {% endfor %}
{% endblock %}
