<form action="{{ path('app.auteur.delete', {id: auteur.id}) }}" method="POST" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer l\'auteur {{ auteur.nom }} {{ auteur.prenom }}')">
    <input type="hidden" name="token" value="{{ csrf_token('delete' ~ auteur.id) }}">
    <button type="submit" class="btn btn-danger text-light">Supprimer</button>
</form>
