{% extends 'base.html.twig' %}

{% block title %}Hello AuteurController!{% endblock %}

{% block body %}
    {% for auteur in auteurs %}
        <h2> {{auteur.nom}} {{auteur.prenom}} </h2>
    {% endfor %}
{% endblock %}
