{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
    {% for categorie in categories %}
        <h2> {{categorie.nom}} </h2>
        <a href="{{ path('app.categorie.update', {id: categorie.id }) }}" class="btn btn-warning">Modifier</a>
        {% include 'categorie/_deleteform.html.twig' %}
    {% endfor %}
{% endblock %}
